
{% load static %}

<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
	<title>POLL APP</title>
</head>
<body>
	
	<div class="site_header">
		<div><img src="{% static 'polls/images/logo.png' %}" class="float-left rounded" id="imlogo"></div>
		<div class="text-center mt-1"><b><i><h1 class="text-danger" id="heading">Would You Rather???</h1></i></b>

	</div>
</div>

<nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
	<div class="container">
		<a class="navbar brand mr-4" href="{%url 'polls:polls-home' %}"><strong>POLL APP</strong></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggle">
			<div class="navbar-nav mr-auto">
				<a class=" nav-item nav-link" href="{% url 'polls:polls-home' %}"><strong>HOME</strong></a>
			</div>
			<div class="navbar-nav">
				{% if user.is_authenticated %}
	<a href="{% url 'polls:logout' %}"><button type="button" class="btn btn-success"><strong>LOGOUT</strong></button></a>
					
				{% else %}
				<a href="{% url 'social:begin' 'google-oauth2' %}"><button type="button" class="btn btn-danger m-1">Google+</button></a>
				<a  href="{% url 'polls:login' %}"><button type="button" class="btn btn-primary m-1"><strong>LOGIN</strong></button></a>
				<a href="{% url 'polls:register' %}"><button type="button" class="btn btn-warning m-1"><strong>ReEGISTER</strong></button></a>
				{% endif %}
	</div></div></div></nav>
		{% if messages %}
		  {% for message in messages %}
		   <div class="alert alert-{{message.tags}}">
		   	{{ message }}
		   </div>
		  {% endfor %}
		{% endif %}
		<div class="home">
{% block content %}
{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>