
{% extends "polls/base.html" %}
 

{% block content %}
<h1>POLL APP!!</h1>
<h2>Start Voting...</h2>
<div class="card card-fluid bg-dark shadow text-white col-12">
<div class="card-body">
{% if questions %}
	{% for question in questions %}
	    
	    	<h2 class="text-center">{{question.question_text}}</h2>
	    	<form action="{% url 'polls:vote' question.id %}" method="post">
	    		{% csrf_token %}
	    	<div class="card-deck">
	    		
	{% for choice in question.choice_set.all %}

	<div class="card shadow  bg-danger col-6 h-50 p-5 m-5 text-center ">
	<h2><input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
   <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label></h2><br></div>
{% endfor %}
</div>
<input type="submit" Value ="Result" class="btn btn-primary btn-block">

</form>
	{% endfor %}
</div>
<div class="card-footer">
	<div class="pagination">
	    <span class="step-links">
	        {% if questions.has_previous %}
	            <a class="btn btn-outline-primary" href="?page={{ questions.previous_page_number }}">previous</a>
	        {% endif %}

	        {% if questions.has_next %}
	            <a class="btn btn-outline-primary" href="?page={{ questions.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>
{% else %}
	<p>No polls are available.</p>

{% endif %}
</div>
</div>
{% endblock content %}
