
{% extends "polls/base.html" %}
 

{% block content %}

<h3 class="text-center text-white">Start Voting...</h3>

<div class="card shadow text-white col-12 border-white" id="cards">
<div class="card-body">
{% if questions %}
	{% for question in questions %}
	    
	    	<h2 class="text-center">{{question.question_text}}</h2>
	    	<form action="{% url 'polls:vote' question.id %}" method="post">
	    		{% csrf_token %}
	    	<div class="card-deck shadow">
	    		
	{% for choice in question.choice_set.all %}

	<div class="card border-dark shadow-lg bg-danger col-6 p-5 m-4 text-center" id="cardelement">
	<h2><input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
   <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label></h2><br></div>
{% endfor %}
</div>
<input type="submit" Value ="RESULT" class="btn btn-primary btn-block my-2">

</form>
	{% endfor %}
</div>
<div class="card-footer bg-dark">
	<div class="pagination">
	    <span class="step-links">
	        {% if questions.has_previous %}
	            <a class="btn btn-outline-primary" href="?page={{ questions.previous_page_number }}">previous</a>
	        {% endif %}

	        {% if questions.has_next %}
	            <a class="btn btn-outline-primary" href="?page={{ questions.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>
{% else %}
<h1>NO polls are not available</h1>

{% endif %}

</div>
</div>
{% endblock content %}
