% extends "polls/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h3 class="text-center my-5 text-white">Forgot password then reset it</h3>
<div class="container border bg-white shadow ">
<div class="content-section shadow">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Reset password</legend>
			{{ form|crispy }}
		</fieldset>

		<div class="form-group">
			<button class=" btn btn-outline-info" type="submit">Reset password submit</button>
		</div>

	</form>
	
</div>
</div>
{% endblock content %}