li a
{
	color:green;
}
body {
   background: white url("images/background.jpeg") repeat;
   
}
h1{
	
	color:red;
}

button{
	background-color:blue;
	size: 50px;
float:right;
}

#cards{
	
	background: white url("images/background.jpeg") repeat;
}
#cardelement{
	height:250;

}
#results{
	margin-top:120px;
}